.container {
  max-width: 960px;
}
/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

#form_container
{
	padding:15px 15px;
	margin-top:15px;
	background: rgba(0,0,0,0.5);
	color:#fff;
}
.upload-btn-wrapper
{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file]
{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.contact-section
{
	background-color: #000;
	background-image: url("stduio-2035349_1280.jpg");
	background-size: cover;
	background-repeat:no-repeat;

}
